@font-face {
    font-family: bellaboo;
    src: url(font/bellaboo.otf);
}

@font-face {
    font-family: break;
    src: url(font/break.ttf);
}

@font-face {
    font-family: frinco;
    src: url(font/frinco.ttf);
}

@font-face {
    font-family: jaapokki;
    src: url(font/jaapokki.otf);
}

@font-face {
    font-family: milano;
    src: url(font/milano.ttf);
}

@font-face {
    font-family: troika;
    src: url(font/troika.otf);
}

::selection {
  background: #333;
  color: #00d2f1;
}

html, body{
	height: 100%;
	text-align: center;
}

body {
	background-image: url('img/background.jpg');
	background-size: cover;
  background-position: center;
	background-repeat: none;
	background-attachment: fixed;
}

/*
 * Header
 */

.masthead{
	padding-top: 30px;
	padding-bottom: 50px;
	margin: auto;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.masthead-brand > img {
  width: 50px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing{
	color: white;
}

.marketing .text-muted{
	color: rgba(255, 255, 255, 0.6);
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.feet{
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);	
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*text mural*/
.mural h1{
  font-size: 5em;
  margin: 0;
}

.mural .j1{
  font-size: 9.5em;
  margin-bottom: -10px;
}

.mural .j2{
  font-size: 6.2em;
  margin-bottom: -20px;
}

.mural .j3{
  font-size: 5.5em;
  margin-bottom: -15px;
}

.mural .j4{
  font-size: 4.5em;
  margin-bottom: -10px;
}

.mural .j5{
  font-size: 4.2em;
}

.mural .j6{
  font-size: 3em;
  padding-top: 15px;
}

/* font classes */
.bellaboo{
  font-family: bellaboo;
}

.break{
  font-family: break;
}

.frinco{
  font-family: frinco;
}

.jaapokki{
  font-family: jaapokki;
}

.milano{
  font-family: milano;
}

.troika{
  font-family: troika;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .masthead-brand{
    float: left;
  }
  .masthead-nav{
    float: right;
  }
  .masthead-nav > li + li {
    margin-right: 20px;
  }

  .masthead,
  .cover-container {
    width: 700px;
  }
  .featurette-heading {
    margin-top: 120px;
  }

  .cover {
    margin-top: 5%
  }
}

@media (max-width: 768px) {
  .mural h1, .mural .j1, .mural .j2, .mural .j3, .mural .j4, .mural .j5, .mural .j6 {
    font-size: 3em;
    margin: 0;
  }

  .masthead-brand > img {
    width: 100px;
  }
}