::selection {
  background: #333;
  color: #00d2f1;
}

html, body{
	height: 100%;
	text-align: center;
}

body {
	background-image: url('img/tumbling-blocks.png');
    background-size: initial;
    background-position: bottom;
    background-repeat: repeat-x;
}