::selection {
  background: #333;
  color: #00d2f1;
}

html, body{
	height: 100%;
	text-align: center;
}

body {
	background-image: url('../img/pineapple.jpg');
  background-position: center;
	background-attachment: fixed;
}